* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f5f9f5;
}

header {
    background-color: #2e7d32;
    text-align: center;
    height: 18vh;
}

header h1 {
    color: #ffffff;
    padding-top: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px 0;
}

li {
    list-style-type: none;
}

a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

a:hover {
    background-color: #1b5e20;
    transform: translateY(-2px);
    color: rgb(58, 207, 58)
}

.section-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;

    border: 1px solid rgba(255, 255, 255, 0.2); 
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.05); 
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 4px 30px rgba(36, 173, 23, 0.4); 
    padding: 20px;

    transition: transform 0.4s ease;
}

.section-cards h2 {
    padding: 20px;
}

.section-cards:hover {
    transform: scale(1.01);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #4caf50;
    height: 180px;
    width: 280px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow;
    margin: 15px;
}

.card h3 {
    padding: 15px;
    color: white;
}

.card:hover {
    transform: scale(1.01);
    background-color: #388e3c;
    box-shadow: 0 8px 15px rgba(36, 173, 23, 0.8); 
}

.orange-status {
    color: rgb(204, 120, 23);
    font-weight: bold;
}

.green-status {
    color: green;
    font-weight: bold;
}

.blue-status {
    color: blue;
    font-weight: bold;
}

#about {
    margin: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.2); 
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.05); 
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 4px 30px rgba(36, 173, 23, 0.4); 
    padding: 20px;

    transition: transform 0.4s ease;
}

#about h2 {
    margin: 20px;
    text-align: center;
}

#about:hover {
    transform: scale(1.01);
}

.monitoring-description {
    text-align: center;
}

footer {
    text-align: center;
    padding: 15px 0;
    color: rgb(73, 72, 72);
}